<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;600;800&family=Encode+Sans+Semi+Expanded:wght@400;800&display=swap" rel="stylesheet">
    <title>@ViewData["Title"]</title>

    <script src="~/js/common.js" asp-append-version="true"></script>
</head>


<body>
    <main>
        @RenderBody()
    </main>
    @await RenderSectionAsync("Scripts", required: false)

    <script src="~/js/login.js" asp-append-version="true"></script>
</body>
</html>